layout {

    focus-ring {
        active-color   "#eac248"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#eac248"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#eac248"
        inactive-color "#574400"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#eac24880"
    }
}

recent-windows {
    highlight {
        active-color "#eac248"
        urgent-color "#ffb4ab"
    }
}
